@page {
    size: A4;
    margin: 2.5%;
    margin-top: 6.25%;

}

@page :first {
    margin-top: 2.5%
}

body {
    font-size: 12pt;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: white;

}

.hr-lm {
    margin-top: 0.25rem;
}

.main-content {
    max-width: 297mm;

    place-items: center;
}

.txt-6 {
    font-size: .25rem;
}

.txt-5 {
    font-size: .375rem;
}

.txt-4 {
    font-size: .5rem;
}

.txt-3 {
    font-size: .625rem;
}

.txt-2 {
    font-size: .750rem;
}

.txt-1 {
    font-size: .875rem;
}

.txt-0 {
    font-size: 1rem;
}

.txt-name {
    font-size: 1.5rem;
    line-height: 1.75rem;
}

.section {
    margin: 0.25rem;
    margin-top: 0.75rem;
    page-break-inside: avoid;
}

a:link { text-decoration: none; }

a {
    color: inherit !important;
}


.section-box {
    background-color: rgba(0, 0, 0, .0250);
    border-radius: 0.5rem;
    padding: 1.5%;
    border: 1px solid rgba(0, 0, 0, 0.075);
    margin-bottom: 1.25%;
    line-height: 1rem;
}

span {
    margin: 0rem;
}

.propic {
    margin: 1%;
    border-radius: 100%;
    height: 3.25em;
    border: 1px solid rgba(0, 0, 0, 0.075);
}

.tag {
    background-color: rgba(0, 0, 0, 0.075);
    border-radius: 0.25rem;
    padding: 0.125rem;
}

.img {
    border: 1px solid rgba(0, 0, 0, 0.075);
    border-radius: 0.25rem;
    height: 2rem;
    border-radius: 0.5rem;
}
